form {

    max-width: 900px;
    margin: 0 auto;

    fieldset {
        border: $orange;
        background-color: #FFF;
        color: #000; 
        margin-left: auto;
        margin-right: auto;
        padding-top: 4rem;
        text-align: left;
        max-width: 850px;
    }

    .well {
        background: $orange;
        margin: 0;
        margin-bottom: 0;
        border-radius: 0;
        border: 0;
    }
}

.contact-details {
    margin: 3rem auto;
    text-align: left;
    max-width: 1200px;
    color: black;
    background: white;
    padding: 1rem;
}

.indented-content {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}