{{> html-header }}

<div class="website-container">
  
  <div class="layout">
    <div class="col col-main bg-img bg-left bg-shooters" role="main">
      <div class='img-overlay'>
        <div>
          <img class='lead-img' src="assets/img/shooterslogonew.png" alt="">
        </div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quisquam culpa voluptatibus commodi, placeat iusto, maiores dolorum animi optio suscipit labore, fugiat recusandae hic! Laboriosam quod, reprehenderit iste officiis quidem.
      </div>
    </div>
    <div class="col col-complementary bg-img bg-right bg-shed" role="complementary">
      <div class='img-overlay'>
        <div>
          <img class='lead-img' src="assets/img/Shed.png" alt="">
        </div>
        
        Complementary content. 
        <div>
          <p>Find out more</p>
          <button class='button'>Click here</button>
        </div>
        </div>
    </div>  
  </div>   
</div>

{{> html-footer }}