{{> html-header }}

<div class="website-container">

    {{> nav contact=true }}
  
    <div class='layout bg-img bg-right bg-shed img-overlay dark'>
        {{> logo-header}}
        <div class='content'>
            {{> contact-form}}
        </div>
    </div>
</div>

{{> html-footer }}