{{> html-header }}

<div class="website-container">

    {{> nav events=true }}
  
    <div class='layout bg-img bg-right bg-shed img-overlay dark'>
        {{> logo-header}}
        <div class='content'>
            <h1 class="mainHeader">Upcoming Events</h1>
            {{> event-list}}
        </div>
    </div>
</div>

{{> html-footer }}