{{> html-header }}

<div class="website-container">

  {{> nav }}
  
  <div class="entry-layout">
    <div class="col col-main bg-img bg-left bg-shooters img-overlay" role="main">
      <div class="entry-img-container">
        <img class='lead-img' src="assets/img/shooterslogonew.png" alt="">
      </div>
      <div class="textContainer">
        {{> shooters-about }}
      </div>      
    </div>
    <div class="col col-complementary bg-img bg-right bg-shed img-overlay" role="complementary">

      <div class="entry-img-container">
        <img class='lead-img' src="assets/img/Shed.png" alt="">
      </div>
      <div class="textContainer">
        {{> shed-about }}
      </div>

    </div>  
  </div>   
</div>

{{> html-footer }}