{{> html-header }}

<div class="website-container">

  {{> nav }}
  
  <div class="entry-layout">
    <div class="col col-main bg-img bg-left bg-shooters img-overlay" role="main">
      <div>
        <img class='lead-img' src="assets/img/shooterslogonew.png" alt="">
      </div>
      <div class="textContainer">
          <p>Welcome to Shooters Bar. We are a family run business and offer a warm welcome to all ages. We offer a wide range of entertainment – everything from Pool, Table Tennis, Darts, Live Bands, DJ’s and Party nights.</p>

          <p>Shooters have a large projector screen to show games be it Premier matches or FIFA gaming with friends! Our digital Juke box is updated with the latest chart toppers.</p>
      </div>      
    </div>
    <div class="col col-complementary bg-img bg-right bg-shed img-overlay" role="complementary">

      <div>
        <img class='lead-img' src="assets/img/Shed.png" alt="">
      </div>
      
      Complementary content. 
      <div>
        <p>Find out more</p>
        <button class='button'>Click here</button>
      </div>

    </div>  
  </div>   
</div>

{{> html-footer }}