<div class='logo-header'>
    <a href='/'>
        <img class='lead-img' src="assets/img/shooterslogonew.png" alt="Shooters"> 
        <img class='lead-img' src="assets/img/Shed.png" alt="The Shed">
    </a>
</div>