
<form>
    <h1 class="mainHeader">The Loyalty Card</h1>
    <div class="loyalty-card-container">
        <fieldset class="loyalty-card">
            <div class="content-info sunkiss">
                <div class="">
                    <h2>What do you get?</h2>
                </div>
                <ul>
                    <li>Free entry to <strong>The Shed</strong> for 1 year (not including Boxing Night and New Years eve)</li>
                    <li>Personal invite to Loyalty nights in both venues throughout the year with buy one get one free drink promotions. (incl. Premium Brands)</li>
                    <li>First offers on Special Function tickets. <small>(at a reduced price)</small></li>
                </ul>
                <div class="additional-info">
                    Cost - £30 each or buy 2 for £50
                    <div>
                        <small>***Please note we have the right to refuse entry***</small>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="loyalty-card-container">
        <fieldset class="loyalty-card">
            <div class="content-info sunkiss">
                <div class="">
                    <h2>How to get one?</h2>
                </div>
                <ul>
                    <li>Purchase a loyalty card on Saturday nights</li>
                    <li>Contact us using the <a class="inline-link" title="Contact us Form" href="/contact.html">Contact form</a></li>
                </ul>
            </div>
        </fieldset>
    </div>
</form>



 

