<p class="entry-text">The SHED nightclub is open every Saturday from 10pm until 3am. It has a relaxing seating area too.</p>

<div class="entry-info">
    <p>
        Check out the events page to find out upcoming themed nights, live music and more.
    </p>
    <p>
        <a class='button' href="/events.html">Click here</a>
    </p>
</div>