<div class="shooters-and-booths">
    <h1 class="mainHeader">About the Bar</h1>

    <div class="content-info sunkiss">
        <p>
            Shooters bar has comfortable seating and gentle lighting with an inviting atmosphere and background music.
        </p>
        <div>
            <a class="darken" href="/gallery.html">Check out the gallery to see for yourself</a>
        </div>
    </div>

    <h1 class="mainHeader">The Booths</h1>
    <div class="content-info delicate">
        <p>
            The booths are in a separate room and were designed to enable a group of friends to be able to have a private area for the evening where you can hang up your coats and bags, kick back and relax and have fun.
        </p>
        <p>
            You can upgrade to a drinks/accessories package and if you do each booth has a buzzer system so you won’t have to go to the bar when you are ready for your next round of drinks. (Minimum of 4 persons and a maximum of 10 in each booth.
        </p>
    </div>

    <div class="quad-grid">
        <div class="grid-item booth-item">
            <h2>Vegas</h2>
            <p>With poker table and stools</p>
        </div>
        <div class="grid-item booth-item">
            <h2>Party</h2>
            <p>Enjoy a twinkling ceiling and mirror balls</p>
        </div>
        <div class="grid-item booth-item">
            <h2>Science Lab</h2>
            <p>A real science table, stools and even a Bunsen burner!</p>
        </div>
        <div class="grid-item booth-item">
            <h2>Hunting Lodge</h2>
            <p>Hunting horns on the wall, antlers and soft lamps</p>
        </div>
    </div>
</div>








 

