<p class="entry-text">This bar is a cosy space with comfy seating. In addition to the bar it has a further room with four themed booths that can put a twist on your evening or a private area for you and your friends.</p>

<div class="entry-info">
    <p>
        Follow us on:
    </p>
    <ul>
        <li>Facebook – Wayne@Shooters</li>
        <li>Snapchat - The Shed @ Shooters</li>
    </ul>
</div>

                        


      