<div class="portfolio">
    <div class="portfolio-item medium poker"></div>
    <div class="portfolio-item large party-booth3"></div>
    <div class="portfolio-item medium upstairs-bar"></div>
    <div class="portfolio-item small shedoutside"></div>
    <div class="portfolio-item tall shooters-vip"></div>
    <div class="portfolio-item wide shed-floor"></div>
    <div class="portfolio-item wide steampunk-bar"></div>
    <div class="portfolio-item medium shooters-back-room"></div>
</div>